<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../styles/navBar.css">
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="icon" href="/images/home.svg" type="image/gif">
</head>

<body>
    {{>navBar}}
        {{!-- <p>hi {{name}}</p> --}}
    <div class="container">
        {{#each error as |e|}}
        <span class="alert alert-danger">{{e}}</span>
        {{/each}}
        <div class="card">
            <div class="side-a">
                <div class="info">
                    {{dash.revenue}}
                </div>
            </div>
            <div class="side-revenue heading">Revenue</div>
        </div>
        <div class="card">
            <div class="side-a">
                <div class="info">
                    {{dash.monthly_pat}}
                </div>
            </div>
            <div class="side-monthly heading">Monthly Patients</div>
        </div>
        <div class="card">
            <div class="side-a">
                <div class="info">
                    {{dash.weekly_pat}} 
                </div>
            </div>
            <div class="side-weekly heading">Weekly Patients</div>
        </div>
    </div>
    <script src="../js/navBar.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="../js/logout.js"></script>
    </body>
</html>