<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Patients</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../styles/navBar.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" href="/images/patients.svg" type="image/gif">
</head>
<body>
    {{>navBar}}
    {{!-- <h1>All Patients</h1> --}}
    <button type="button" class="addBtn">
        {{!-- <a href="/patient/addpatient"> --}}
            <i class="fa-solid fa-user-plus"></i>
        {{!-- </a> --}}
    </button>
    <h2 class="heading">Patient Details</h2>
    <table class="container table">
        {{!-- <thead> --}}
        <tr class="head">
            <th><h2>s.no</h2></th>
            <th><h2>Patient Name</h2></th>
            <th><h2>Date of Visit</h2></th>
            <th><h2>Phone No.</h2></th>
        </tr>
        {{!-- </thead> --}}
        {{!-- <tbody> --}}
            {{#each data as |p|}}
            {{!-- <a href="/patient/details?patientId={{p._id}}" class="entryLink"> --}}
                <tr class="entry">
                    <td><h3>{{@index}}</h3></td>
                    <td><h3><a class="entryLink" href="/patient/details?patientId={{p._id}}">{{p.name}}</a></h3></td>
                    <td><h3>{{p.dov}}</h3></td>
                    <td><h3>{{p.phoneNo}}</h3></td>
                </tr>
            {{!-- </a> --}}
            {{/each}}
                <tr class="search">

                <tr/>
                {{!-- <tr class="search"> --}}
                    {{!-- <td><h3>{{@index}}</h3></td>
                    <td><h3><a class="entryLink" href="/patient/details?patientId={{p._id}}">{{p.name}}</a></h3></td>
                    <td><h3>{{p.dov}}</h3></td>
                    <td><h3>{{p.phoneNo}}</h3></td> --}}
                {{!-- </tr> --}}
        {{!-- </tbody> --}}
    </table>

    {{!-- <div class="container">
        <h2 class="heading">Patient Details</h2>
    
        <div class="head">
            <h3>S.No</h3>
            <h3>Patient Name</h3>
            <h3>Date of Visit</h3>
            <h3>Phone No.</h3>
        </div>
    
        {{#each data as |p|}}
        <a href="" class="entryLink">
            <div class="entry">
                <h2>{{p._id}}</h2>
                <h2>{{p.name}}</h2>
                <h2>{{p.dov}}</h2>
                <h2>{{p.phoneNo}}</h2>
            </div>
        </a>
        {{/each}}
        <a href="" class="entryLink">
            <div class="entry">
                <h2>2</h2>
                <h2>Ashish Kumar</h2>
                <h2>30/05/2023</h2>
                <h2>9876543210</h2>
            </div>
        </a>
        <a href="" class="entryLink">
            <div class="entry">
                <h2>3</h2>
                <h2>Ashish Kumar</h2>
                <h2>30/05/2023</h2>
                <h2>9876543210</h2>
            </div>
        </a>
        <a href="" class="entryLink">
            <div class="entry">
                <h2>4</h2>
                <h2>Ashish Kumar</h2>
                <h2>30/05/2023</h2>
                <h2>9876543210</h2>
            </div>
        </a> 
    </div>--}}
    {{>scripts}}
    <script src="../js/addPatient.js"></script>
    <script src="../js/search.js"></script>
</body>
</html>